<head>
</head>
<body>
	<div class="ui sidebar fixed visible inverted vertical labeled icon menu">
		<a class="item {{isActiveRoute 'mission-statement'}}" href="/mission-statement">
			<i class="flag icon"></i>
			Mission Statement
		</a>
		<a class="item {{isActiveRoute 'roles'}}" href="/roles">
			<i class="browser icon"></i>
			Roles & Goals
		</a>
		<a class="item {{isActiveRoute 'schedule'}}" href="/schedule">
			<i class="calendar icon"></i>
			Schedule
		</a>
	<div id="signin-button" class="ui blue basic left bottom attached label">{{> loginButtons}}</div>
	</div>
	<div id="container" class="pusher">
	</div>
</body>
