.ui.sidebar.visible ~ .pusher {
    width: calc(100% - 147px);
	margin-left:147px;
	padding:10px;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) inset;
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) inset;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) inset;
	height:100%;
}
.ui .item
{
	outline:none;
}
