.roles .grid:first-child
{
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
}
.roles .grid:nth-child(2) .three.wide.column
{
	padding:0px;
	padding-top:10px;
}
.roles .grid:nth-child(2) .button
{
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
	border-radius:0px;
}

.role
{
	box-shadow:0px -2px 0px 0px #486fab !important;
}
.role .column
{
	padding:0px !important;
	overflow:hidden;
}
.role .thirteen.wide.column
{
	background-color: #5382c9;
	box-shadow: -2px 0px 0px 0px #426dae !important;
}
.role .segment p
{
	margin:0px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	max-width: 100%;
}
.role .table
{
	max-width:200%;
	width:200% !important;
	height:100%;
	transition:transform 0.5s;
	table-layout:fixed;
	word-wrap:break-word;
	border:none;
	border-radius:0px;
}
.role tr
{
	height:100%;
}
.role td
{
	padding:0px !important;
}
.role .segment
{
	height:100%;
	background-color: #4d77b7;
	border:none;
	color: white;
	border-radius:0px;
}
.role .icon
{
	cursor:pointer;
}
.role .segment .icon:last-child
{
	margin-right:0px;
}
.role .segment .editable
{
	width:100%;
	border:1px solid #ccc;
	outline:none;
}
.role .segment .label
{
	display:none;
}
.role .segment:hover .label
{
	display:inline-block;
}
.goal input
{
	border-top:none !important;
	color:white !important;
	border-radius:0px !important;
	background-color: rgb(80, 126, 197) !important;
	border-left:none !important;
}
.goal .icon
{
	cursor:pointer !important;
	pointer-events:auto !important;
}
.goal:not(:hover) .button
{
	display:none !important;
}
