.schedule td:first-child>.grid
{
	-webkit-box-shadow:-2px -3px 3px 0px rgba(0,0,0,0.75),0px 3px 3px 0px rgba(0,0,0,0.75) !important;
	-moz-box-shadow:-2px -3px 3px 0px rgba(0,0,0,0.75),0px 3px 3px 0px rgba(0,0,0,0.75) !important;
	box-shadow:-2px -3px 3px 0px rgba(0,0,0,0.75),0px 3px 3px 0px rgba(0,0,0,0.75) !important;
}
.schedule td:last-child>.grid
{
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75) !important;
}
.w-role
{
	border:2px solid #426dae;
	border-top:none;
	margin:0px;
	padding:0px !important;
}
.w-role .column
{
	padding:0px !important;
}
.w-role .column:nth-child(2)
{
	background-color: #5382c9;
	box-shadow: -2px 0px 0px 0px #426dae !important;
}

.w-role .table
{
	max-width:100%;
	width:100% !important;
	height:100%;
	transition:transform 0.5s;
	table-layout:fixed;
	word-wrap:break-word;
	border:none;
	border-radius:0px;
}
.w-role tr
{
	height:100%;
}
.w-role td
{
	padding:0px !important;
}
.w-role .segment
{
	height:100%;
	background-color: #4d77b7;
	border:none;
	color: white;
	border-radius:0px;
	width:100%;
	display:table;
	table-layout:fixed;
}
.w-role .segment p
{
	margin:0px;
	text-align: center;
	top: 50%;
	left: 50%;
	max-width: 100%;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}
.w-role .icon
{
	cursor:pointer;
}
.w-role .w-goal .label
{
	padding:5px;
}
.w-role .icon:last-child
{
	margin-right:0px !important;
}
.w-role .segment .editable
{
	width:100%;
	border:1px solid #ccc;
	outline:none;
}
.w-role .segment .label
{
	display:none;
}
.w-role .segment:hover .label
{
	display:inline-block;
}
.schedule .row
{
	margin:0px !important;
	padding:0px !important;
}
.schedule .row.title
{
	background-color:#507ec5;
	color:white;
}
.schedule .row.title:first-child
{
	border-bottom: 1px solid #426dae;
}
.schedule td
{
	padding:0px !important;
}
.schedule .grid
{
	margin:0px;
}
.schedule .grid .column
{
	border-right:1px solid #507ec5;
	padding:0px !important;
}
.schedule .row .cell
{
	height:20px;
}
.schedule .row:nth-child(odd) .cell
{
	background-color:#D8E0EC;
}
.schedule .row:nth-child(even) .cell
{
	background-color:white;
}
.schedule .row .cell .label
{
	cursor:pointer;
	display:inline !important;
	padding-bottom:3.25px;
}
.schedule .row .cell .label .icon
{
	position:absolute;
	display:none;
}
.schedule .row .cell .label:hover .icon
{
	display:inline-block;
}
.schedule .w-role .dropdown>.menu
{
	border:none;
}
.schedule .w-role .dropdown>.menu:after
{
	background-color:#1B1C1D;
}
.schedule .w-role .dropdown>.menu .item
{
	padding:4px !important;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	color:white;
}
.schedule .w-role .menu .item.red
{
	background-color:#DB2828;
}
.schedule .w-role .menu .item.violet
{
	background-color:#6435C9;
}
.schedule .w-role .menu .item.green
{
	background-color:#21BA45;
}
.schedule .w-role .menu .item.orange
{
	background-color:#F2711C;
}
.schedule .w-role .menu .item.black
{
	background-color:#1B1C1D;
}
.schedule .w-role .label .priority
{
	border:1px solid rgba(255,255,255,0.55);
	padding:1px;
}
.schedule .w-role .w-goal .label .trash.icon
{
	visibility:hidden;
	height:0px;
	width:0px;
	transition: width 0.1s,margin-left 0.1s,visibility 0s;
	transition-delay:3s;
}
.schedule .w-role .w-goal:hover .label .trash.icon,
.schedule .w-role .w-goal .label .dropdown.active+.trash.icon
{
	height:10px;
	width:8px;
	margin-left:5px;
	visibility:visible;
	transition-delay:0s;
	transition-duration:0s;
}
.schedule .time-label
{
	position: absolute;
	left: 0px;
	top: 15px;
	z-index: 1;
}
.schedule .time-label span
{
	display: block;
	font-size: 10px;
	line-height: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #1b1c1d;
	opacity: 0.7;
	font-weight: bold;
}
.w-goal input
{
	border-top:none !important;
	color:white !important;
	border-radius:0px !important;
	background-color: rgb(80, 126, 197) !important;
	border-left:none !important;
}
.w-goal .icon
{
	cursor:pointer !important;
	pointer-events:auto !important;
}
.w-goal:not(:hover) .button
{
	display:none !important;
}
