#signin-button
{
	position: absolute;
	z-index: 1000;
}
#login-buttons
{
	line-height:15px;
}
.login-form input
{
	box-sizing: border-box;
	width: 100%;
	color: grey;
	border: 1px solid gray;
	padding: 0px 5px;
}
.login-form label
{
	text-align:left;
	display:block;
	color:#1b1c1d;
}
#login-sign-in-link
{
	display:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#login-sign-in-link:hover
{
	background:transparent !important;
}
#login-sign-in-link:only-child
{
	display:block !important;
	border:none;
	background:transparent;
	color:#1b1c1d;
}
.login-close-text
{
	position:absolute;
	top:0px;
	right:0px;
	width: 14px !important;
	font-size: 0px !important;
	height: 14px;
	line-height: 7px;
	padding:1px !important;
}
.login-close-text:before
{
	content:"\f00d";
	font-family:Icons;
	font-size:14px;
}
#login-buttons a,.login-button
{
	cursor: pointer;
	border: 1px solid #3c3d3e;
	border-radius: 2px;
	background-color: #1B1C1D;
	color: white;
	font-weight: bold;
	display: block;
	padding: 1px 3px;
	width:100%;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75); 
	margin-top:4px;
}
#login-buttons a:hover,.login-button:hover
{
	background-color: #27292A;
}
